.docs-content {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.003em;
  line-height: 1.58;
  margin-bottom: 1rem;
}
.docs-content h1, .docs-content h2, .docs-content h3, .docs-content h4, .docs-content h5, .docs-content h6 {
  margin: 1em 0;
  font-weight: 200;
}
.docs-content h1 {
  font-size: 1.9rem;
}
.docs-content h2 {
  font-size: 1.6rem;
  font-weight: 300;
}
.docs-content h3 {
  font-size: 1.5rem;
  color: #66676b;
}
.docs-content h4 {
  font-size: 1.3rem;
  color: #66676b;
  font-weight: 300;
}
.docs-content h5 {
  font-size: 1.2rem;
  color: #66676b;
  font-weight: 300;
}
.docs-content h6 {
  font-size: 1.1rem;
  color: #66676b;
  font-weight: 500;
}
.docs-content .hanchor {
  font-size: 100%;
  visibility: hidden;
  color: silver;
}
.docs-content h1:hover a,
.docs-content h2:hover a,
.docs-content h3:hover a,
.docs-content h4:hover a {
  visibility: visible;
}
.docs-content blockquote {
  background-color: #deedf5;
  border-left: #46a2c7 4px solid;
  margin: 1em 0;
  font-style: italic;
  padding: 1em;
}
.docs-content code:not([class*=language-]) {
  color: #344258;
}
.docs-content table {
  display: table;
  width: 100%;
  background-color: #fff;
  color: #344258;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: #46a2c7 2px solid;
  border-collapse: collapse;
  border-spacing: 1px;
}
.docs-content table td,
.docs-content table th {
  border: 1px solid #EFF4F7;
  border-width: 0 0 1px;
  padding: 0.5em 0.75em;
  vertical-align: top;
  min-width: 130px;
}
.docs-content table th {
  background: #46a2c7;
  color: #344258;
  text-align: left;
}
.docs-content table tr {
  border-bottom: 1px solid #EFF4F7;
}
.docs-content table tr td,
.docs-content table tr th {
  border-color: #46a2c7;
}
.docs-content table thead td,
.docs-content table thead th {
  border-width: 0 0 2px;
  color: #fff;
}
.docs-content table tfoot td,
.docs-content table tfoot th {
  border-width: 2px 0 0;
  color: #344258;
}
.docs-content table tbody tr:last-child td,
.docs-content table tbody tr:last-child th {
  border-bottom-width: 0;
}
.docs-content code[class*=language-],
.docs-content pre[class*=language-] {
  background-color: #EFF4F7;
  text-shadow: none;
  margin: 2rem 0;
}
.docs-content .line-highlight {
  background: linear-gradient(to right, rgba(126, 192, 196, 0.2) 70%, rgba(126, 192, 196, 0));
}
.docs-content > .important {
  background-color: #46a2c7;
  padding: 1em;
  color: white;
  margin: 1rem 0 2rem 0;
}
.docs-content > .important .important__header {
  padding-bottom: 0.5em;
  border-bottom: #56afd2 1px solid;
  margin-bottom: 1em;
}
.docs-content > .important .important__header .important__header__icon {
  margin-right: 0.5em;
}
.docs-content > .important .important__body a {
  color: white;
  text-decoration: underline;
}
.docs-content > .notice {
  background-color: #e48f24;
  padding: 1em;
  color: white;
  margin: 1rem 0 2rem 0;
}
.docs-content > .notice .notice__header {
  padding-bottom: 0.5em;
  border-bottom: #eaa653 1px solid;
  margin-bottom: 1em;
}
.docs-content > .notice .notice__header .notice__header__icon {
  margin-right: 0.5em;
}
.docs-content > .notice .notice__body a {
  color: white;
  text-decoration: underline;
}
.docs-content > .hint {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.docs-content > .hint .hint__icon-wrapper {
  padding: 1em 1em 1em 0;
  border-right: #46a2c7 2px solid;
  margin-right: 1em;
  align-self: center;
}
.docs-content > .hint .hint__icon-wrapper .hint__icon-wrapper__icon {
  color: #46a2c7;
  font-size: 2em;
}
.docs-content > .hint .hint__body {
  align-self: center;
}
.docs-content > .hint .hint__body p {
  margin-bottom: 0;
}
.docs-content .navigation-options {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.docs-content .navigation-options .navigation-option {
  flex-grow: 1;
  flex-basis: 0;
  box-sizing: border-box;
  margin-right: 10px;
  border: #666 2px solid;
  padding: 20px;
  text-align: center;
  color: black;
}
.docs-content .navigation-options .navigation-option:last-child {
  margin-right: 0;
}
.docs-content .navigation-options .navigation-option.navigation-option--style-green {
  border-color: #559455;
  background-color: #7ac17a;
  color: white;
}
.docs-content .navigation-options .navigation-option.navigation-option--style-cyan {
  border-color: #569595;
  background-color: #7bc1c1;
  color: white;
}
.docs-content .navigation-options .navigation-option.navigation-option--style-purple {
  border-color: #575695;
  background-color: #7c7bc1;
  color: white;
}
.docs-content .navigation-options .navigation-option .navigation-option__text {
  display: inline-block;
  height: 7em;
}
.docs-content .button--next-chapter i {
  margin-left: 20px;
}
.docs-content .openapi-comparison {
  margin: 40px 0;
}
.docs-content .openapi-comparison h2.openapi-comparison__title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30px;
}
.docs-content .openapi-comparison .openapi-comparison__content {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}
.docs-content .openapi-comparison .openapi-comparison__content .openapi-comparison__block {
  flex-grow: 1;
  flex-basis: 0;
  border: black 1px solid;
  box-sizing: border-box;
  margin-right: 10px;
}
.docs-content .openapi-comparison .openapi-comparison__content .openapi-comparison__block:last-child {
  margin-right: 0;
}
.docs-content .openapi-comparison .openapi-comparison__content .openapi-comparison__block .openapi-comparison__block__title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 15px;
}
.docs-content .openapi-comparison .openapi-comparison__content .openapi-comparison__block .openapi-comparison__block__content .openapi-comparison__block {
  font-size: 14px;
  margin: 10px;
  padding: 15px;
}
.docs-content .openapi-comparison .openapi-comparison__content .openapi-comparison__block .openapi-comparison__block__content .openapi-comparison__block.openapi-comparison__block--medium-height {
  padding-top: 30px;
  padding-bottom: 30px;
}
.docs-content .openapi-comparison .openapi-comparison__content .openapi-comparison__block .openapi-comparison__block__content .openapi-comparison__block.openapi-comparison__block--big-height {
  padding-top: 60px;
  padding-bottom: 60px;
}
.docs-content .openapi-comparison .openapi-comparison__content .openapi-comparison__block .openapi-comparison__block__content .openapi-comparison__block.openapi-comparison__block--id {
  background-color: #94d5f9;
}
.docs-content .openapi-comparison .openapi-comparison__content .openapi-comparison__block .openapi-comparison__block__content .openapi-comparison__block.openapi-comparison__block--info {
  background-color: #caefef;
}
.docs-content .openapi-comparison .openapi-comparison__content .openapi-comparison__block .openapi-comparison__block__content .openapi-comparison__block.openapi-comparison__block--hosts {
  background-color: #e2efd9;
}
.docs-content .openapi-comparison .openapi-comparison__content .openapi-comparison__block .openapi-comparison__block__content .openapi-comparison__block.openapi-comparison__block--security {
  background-color: #cdd2d8;
}
.docs-content .openapi-comparison .openapi-comparison__content .openapi-comparison__block .openapi-comparison__block__content .openapi-comparison__block.openapi-comparison__block--paths {
  background-color: #ffe698;
}
.docs-content .openapi-comparison .openapi-comparison__content .openapi-comparison__block .openapi-comparison__block__content .openapi-comparison__block.openapi-comparison__block--path-item {
  background-color: #ffd966;
}
.docs-content .openapi-comparison .openapi-comparison__content .openapi-comparison__block .openapi-comparison__block__content .openapi-comparison__block.openapi-comparison__block--annotations {
  background-color: #9dc2e5;
}
.docs-content .openapi-comparison .openapi-comparison__content .openapi-comparison__block .openapi-comparison__block__content .openapi-comparison__block.openapi-comparison__block--operation {
  background-color: #f3b183;
}
.docs-content .openapi-comparison .openapi-comparison__content .openapi-comparison__block .openapi-comparison__block__content .openapi-comparison__block.openapi-comparison__block--reqres {
  background-color: #a25353;
  color: white;
}
.docs-content .openapi-comparison .openapi-comparison__content .openapi-comparison__block .openapi-comparison__block__content .openapi-comparison__block.openapi-comparison__block--headers {
  background-color: #ca7474;
  color: white;
}
.docs-content .openapi-comparison .openapi-comparison__content .openapi-comparison__block .openapi-comparison__block__content .openapi-comparison__block.openapi-comparison__block--payload {
  background-color: #ca7474;
  color: white;
}
.docs-content .openapi-comparison .openapi-comparison__content .openapi-comparison__block .openapi-comparison__block__content .openapi-comparison__block.openapi-comparison__block--tags {
  background-color: #dbbdfb;
}
.docs-content .openapi-comparison .openapi-comparison__content .openapi-comparison__block .openapi-comparison__block__content .openapi-comparison__block.openapi-comparison__block--external-docs {
  background-color: #51ca92;
}
.docs-content .openapi-comparison .openapi-comparison__content .openapi-comparison__block .openapi-comparison__block__content .openapi-comparison__block.openapi-comparison__block--components {
  background-color: #e7e6e6;
}

@media only screen and (max-width: 768px) {
  .docs-content .navigation-options {
    display: block;
  }
  .docs-content .navigation-options .navigation-option {
    display: block;
    margin: 20px 0;
  }
  .docs-content .navigation-options .navigation-option .navigation-option__text {
    height: auto;
  }
  .docs-content .openapi-comparison > .openapi-comparison__content > .openapi-comparison__block {
    margin-right: 0;
    margin-bottom: 20px;
  }
}