/*! purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);
/*! purgecss end ignore */

@import "tailwindcss/utilities";

/*! purgecss start ignore */
html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li > p {
  display: inline;
}

.atss { /* AddThis plugin */
  z-index: 10 !important;
}

.countdown-text-gradient {
  background: linear-gradient(230deg, #e74694, #4b79cf, #4bc5cf, #4b79cf, #e74694);
  background-size: 500% 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: GradientAnimation 50s ease infinite alternate;
  -moz-animation: GradientAnimation 50s ease infinite alternate;
  animation: GradientAnimation 50s ease infinite alternate;
}

@keyframes GradientAnimation {
    0%{background-position:0% 50%}
    100%{background-position:200% 50%}
}

:target {
  scroll-margin-top: 120px;
}

@media (max-width: 1280px) {
  :target {
    scroll-margin-top: 155px;
  }  
}

/*! purgecss end ignore */

.orbit-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  top: -200px;
}

.orbit {
  position: absolute;
  border-radius: 100%;
  border: solid 2px #f3f3f4;
  transition: .2s;
}

#first-orbit {
    width: 600px;
    height: 600px;
  top: 165px;
  left: calc(50% - 300px);
  position: relative;
}


#circle-around-first-1,
#circle-around-first-2,
#circle-around-first-3,
#circle-around-first-4,
#circle-around-first-5
 {
  position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 280px;
    left: 280px;
}
.circle-around-orbit > img{
    border-radius: 100%;
    width: 30px;
}
#circle-around-first-1{
    transform: rotate(360deg) translateX(300px) rotate(-360deg);
    -webkit-animation: orbit3 100s linear infinite;
    -moz-animation: orbit3 100s linear infinite;
    -o-animation: orbit3 100s linear infinite;
    animation: orbit2 100s linear infinite;
    transition: 1s;
}

#circle-around-first-2{
    transform: rotate(360deg) translateX(-300px) rotate(-360deg);
    -webkit-animation: orbit3 100s linear infinite;
    -moz-animation: orbit3 100s linear infinite;
    -o-animation: orbit3 100s linear infinite;
    animation: orbit3 100s linear infinite;
    transition: 1s;
}

#circle-around-first-3{
    transform: rotate(360deg) translateX(300px) rotate(-360deg);
    -webkit-animation: orbit3 100s linear infinite;
    -moz-animation: orbit3 100s linear infinite;
    -o-animation: orbit3 100s linear infinite;
    animation: orbit4 100s linear infinite;
    transition: 1s;
}

#circle-around-first-4{
    transform: rotate(360deg) translateX(-300px) rotate(-360deg);
    -webkit-animation: orbit3 100s linear infinite;
    -moz-animation: orbit3 100s linear infinite;
    -o-animation: orbit3 100s linear infinite;
    animation: orbit5 100s linear infinite;
    transition: 1s;
}

#circle-around-first-5{
    transform: rotate(360deg) translateX(300px) rotate(-360deg);
    -webkit-animation: orbit3 50s linear infinite;
    -moz-animation: orbit3 50s linear infinite;
    -o-animation: orbit3 50s linear infinite;
    animation: orbit6 50s linear infinite;
    transition: 1s;
}

#second-orbit {
  width: 800px;
  height: 800px;
  top: 75px;
  left: calc(50% - 400px);
}

#circle-around-second-1,
#circle-around-second-2,
#circle-around-second-3
 {
  position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 380px;
    left: 380px;
}

#circle-around-second-1{
    transform: rotate(360deg) translateX(400px) rotate(-360deg);
    -webkit-animation: secondOrbit3 80s linear infinite;
    -moz-animation: secondOrbit3 80s linear infinite;
    -o-animation: secondOrbit3 80s linear infinite;
    animation: secondOrbit2 80s linear infinite;
    transition: 1s;
}

#circle-around-second-2{
    transform: rotate(360deg) translateX(-400px) rotate(-360deg);
    -webkit-animation: secondOrbit3 80s linear infinite;
    -moz-animation: secondOrbit3 80s linear infinite;
    -o-animation: secondOrbit3 80s linear infinite;
    animation: secondOrbit3 80s linear infinite;
    transition: 1s;
}

#circle-around-second-3{
    transform: rotate(360deg) translateX(400px) rotate(-360deg);
    -webkit-animation: secondOrbit3 80s linear infinite;
    -moz-animation: secondOrbit3 80s linear infinite;
    -o-animation: secondOrbit3 80s linear infinite;
    animation: secondOrbit4 80s linear infinite;
    transition: 1s;
}

#neptune-orbit {
  width: 1000px;
  height: 1000px;
  top: -10px;
  left: calc(50% - 500px);
  -webkit-animation: spin-right 25s linear infinite;
  animation: spin-right 25s linear infinite;
}

#neptune {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 330px;
  left: 0;
  border-radius: 100%;
  background: linear-gradient(#74b9ff, #0984e3);
  -webkit-animation: spin-right 990s linear infinite;
  animation: spin-right 990s linear infinite;
}

#planet-list {
  display: flex;
  list-style: none;
  font-family: Raleway;
  color: white;
  justify-content: center;
}

#planet-list li {
  margin: 10px;
  cursor: pointer;
}

#planet-list li a {
  text-decoration: none;
  color: white;
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@-webkit-keyframes orbit2 {
    from {
        -webkit-transform: rotate(0deg) translateX(300px) rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg) translateX(300px) rotate(-360deg);
    }
}

@-moz-keyframes orbit2 {
    from {
        -moz-transform: rotate(0deg) translateX(300px) rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg) translateX(300px) rotate(-360deg);
    }
}

@-o-keyframes orbit2 {
    from {
        -o-transform: rotate(0deg) translateX(300px) rotate(0deg);
    }

    to {
        -o-transform: rotate(360deg) translateX(300px) rotate(-360deg);
    }
}

@keyframes orbit2 {
    from {
        transform: rotate(0deg) translateX(300px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(300px) rotate(-360deg);
    }
}

@-webkit-keyframes orbit3 {
    from {
        -webkit-transform: rotate(0deg) translateX(-300px) rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg) translateX(-300px) rotate(-360deg);
    }
}

@-moz-keyframes orbit3 {
    from {
        -moz-transform: rotate(0deg) translateX(-300px) rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg) translateX(-300px) rotate(-360deg);
    }
}

@-o-keyframes orbit3 {
    from {
        -o-transform: rotate(0deg) translateX(-300px) rotate(0deg);
    }

    to {
        -o-transform: rotate(360deg) translateX(-300px) rotate(-360deg);
    }
}

@keyframes orbit3 {
    from {
        transform: rotate(0deg) translateX(-300px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(-300px) rotate(-360deg);
    }
}

@-webkit-keyframes orbit4 {
    from {
        -webkit-transform: rotate(0deg) translateY(300px) rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg) translateY(300px) rotate(-360deg);
    }
}

@-moz-keyframes orbit4 {
    from {
        -moz-transform: rotate(0deg) translateY(300px) rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg) translateY(300px) rotate(-360deg);
    }
}

@-o-keyframes orbit4 {
    from {
        -o-transform: rotate(0deg) translateY(300px) rotate(0deg);
    }

    to {
        -o-transform: rotate(360deg) translateY(300px) rotate(-360deg);
    }
}

@keyframes orbit4 {
    from {
        transform: rotate(0deg) translateY(300px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateY(300px) rotate(-360deg);
    }
}

@-webkit-keyframes orbit5 {
    from {
        -webkit-transform: rotate(0deg) translateY(-300px) rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg) translateY(-300px) rotate(-360deg);
    }
}

@-moz-keyframes orbit5 {
    from {
        -moz-transform: rotate(0deg) translateY(-300px) rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg) translateY(-300px) rotate(-360deg);
    }
}

@-o-keyframes orbit5 {
    from {
        -o-transform: rotate(0deg) translateY(-300px) rotate(0deg);
    }

    to {
        -o-transform: rotate(360deg) translateY(-300px) rotate(-360deg);
    }
}

@keyframes orbit5 {
    from {
        transform: rotate(0deg) translateY(-300px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateY(-300px) rotate(-360deg);
    }
}


@-webkit-keyframes orbit6 {
    from {
        -webkit-transform: rotate(0deg) translateY(300px) rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg) translateY(300px) rotate(-360deg);
    }
}

@-moz-keyframes orbit6 {
    from {
        -moz-transform: rotate(0deg) translateY(300px) rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg) translateY(300px) rotate(-360deg);
    }
}

@-o-keyframes orbit6 {
    from {
        -o-transform: rotate(0deg) translateY(300px) rotate(0deg);
    }

    to {
        -o-transform: rotate(360deg) translateY(300px) rotate(-360deg);
    }
}

@keyframes orbit6 {
    from {
        transform: rotate(0deg) translateY(300px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateY(300px) rotate(-360deg);
    }
}


@-webkit-keyframes secondOrbit2 {
    from {
        -webkit-transform: rotate(0deg) translateX(400px) rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg) translateX(400px) rotate(-360deg);
    }
}

@-moz-keyframes secondOrbit2 {
    from {
        -moz-transform: rotate(0deg) translateX(400px) rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg) translateX(400px) rotate(-360deg);
    }
}

@-o-keyframes secondOrbit2 {
    from {
        -o-transform: rotate(0deg) translateX(400px) rotate(0deg);
    }

    to {
        -o-transform: rotate(360deg) translateX(400px) rotate(-360deg);
    }
}

@keyframes secondOrbit2 {
    from {
        transform: rotate(0deg) translateX(400px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(400px) rotate(-360deg);
    }
}


@-webkit-keyframes secondOrbit3 {
    from {
        -webkit-transform: rotate(0deg) translateY(-400px) rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg) translateY(-400px) rotate(-360deg);
    }
}
@-moz-keyframes secondOrbit3 {
    from {
        -moz-transform: rotate(0deg) translateY(-400px) rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg) translateY(-400px) rotate(-360deg);
    }
}

@-o-keyframes secondOrbit3 {
    from {
        -o-transform: rotate(0deg) translateY(-400px) rotate(0deg);
    }

    to {
        -o-transform: rotate(360deg) translateY(-400px) rotate(-360deg);
    }
}

@keyframes secondOrbit3 {
    from {
        transform: rotate(0deg) translateY(-400px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateY(-400px) rotate(-360deg);
    }
}


@-webkit-keyframes secondOrbit4 {
    from {
        -webkit-transform: rotate(0deg) translateY(400px) rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg) translateY(400px) rotate(-360deg);
    }
}
@-moz-keyframes secondOrbit4 {
    from {
        -moz-transform: rotate(0deg) translateY(400px) rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg) translateY(400px) rotate(-360deg);
    }
}

@-o-keyframes secondOrbit4 {
    from {
        -o-transform: rotate(0deg) translateY(400px) rotate(0deg);
    }

    to {
        -o-transform: rotate(360deg) translateY(400px) rotate(-360deg);
    }
}

@keyframes secondOrbit4 {
    from {
        transform: rotate(0deg) translateY(400px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateY(400px) rotate(-360deg);
    }
}

@-webkit-keyframes secondOrbit5 {
    from {
        -webkit-transform: rotate(0deg) translateX(-400px) rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg) translateX(-400px) rotate(-360deg);
    }
}
@-moz-keyframes secondOrbit5 {
    from {
        -moz-transform: rotate(0deg) translateX(-400px) rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg) translateX(-400px) rotate(-360deg);
    }
}

@-o-keyframes secondOrbit5 {
    from {
        -o-transform: rotate(0deg) translateX(-400px) rotate(0deg);
    }

    to {
        -o-transform: rotate(360deg) translateX(-400px) rotate(-360deg);
    }
}

@keyframes secondOrbit5 {
    from {
        transform: rotate(0deg) translateX(-400px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(-400px) rotate(-360deg);
    }
}
