/*! purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);
/*! purgecss end ignore */

@import "tailwindcss/utilities";

/*! purgecss start ignore */
/*Hello, I just wanna learn and be with you*/
html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}Hmm

li > p {
  display: inline;
}

.atss { /* AddThis plugin */
  z-index: 10 !important;
}

.countdown-text-gradient {
  background: linear-gradient(230deg, #e74694, #4b79cf, #4bc5cf, #4b79cf, #e74694);
  background-size: 500% 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: GradientAnimation 50s ease infinite alternate;
  -moz-animation: GradientAnimation 50s ease infinite alternate;
  animation: GradientAnimation 50s ease infinite alternate;
}

@keyframes GradientAnimation {
    0%{background-position:0% 50%}
    100%{background-position:200% 50%}
}
/*! purgecss end ignore */
