// Colors
$text-color: #6A798C;
$heading-color: #333B69;
$bg-light: #F7F9FA;
$bg-dark: #282e38;
$border-color: #E8ECED;
$border-color-dark: #313131;
$main-color: #46a2c7;
$secondary-color: #4C86E7;
$accent: #62bc8f;
$meta-color: #6A798C;


// Fonts
$body-font: 'Roboto', sans-serif;
$heading-font: 'Roboto', sans-serif;


// Navbar
$nav-height: 72px;

// Other
$white: #fff;
$smoke-white: #fcfcfc;
$grey-white: #f2f2f2;


$fade-grey: #ededed;
$light-grey: #EFF4F7;
$title-grey: #A9ABAC;
$blue-grey: #444F60;
$light-blue-grey: #98a9c3;
$medium-grey: #66676b;
$basaltic-grey: #878787;
$purple: #7F00FF;
$mint: #11FFBD;
$bloody: #FC354C;
$pinky: #ff00cc;
$frost: #004e92;
$placeholder: #cecece;
$dark-grey: #344258;
$border-grey: #ccc;
$muted-grey: #999;
$section-grey: #fbfbfb;