.vscode
.DS_Store
.idea
node_modules
.next
out
config/posts.json
config/blog-posts.json
config/jobs.json
config/docs.json
config/meetings.json
config/roadmap.json
public/rss.xml
.env.local
roadmap.json
yarn.lock