[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "ALLOW-FROM https://www.youtube.com/"

[build]
  command = "npm run build && npm run export"
  functions = "netlify/functions"
  publish = "out"

[build.environment]
  NODE_VERSION = "16.13.2"
  NPM_VERSION = "8.1.2"

# Used by JSON Schema definitions fetched directly from AsyncAPI website
[[redirects]]
  from = "/definitions"
  to = "https://github.com/asyncapi/spec-json-schemas/tree/master/schemas"
  status = 200

[[edge_functions]]
function = "serve-definitions"
path = "/definitions/*"

# Used by JSON Schema definitions fetched from schemastore.org
[[redirects]]
  from = "/schema-store"
  to = "https://github.com/asyncapi/spec-json-schemas/tree/master/schemas"
  status = 200

[[edge_functions]]
function = "serve-definitions"
path = "/schema-store/*"

