[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "ALLOW-FROM https://www.youtube.com/"

[build]
  command = "npm run build && npm run export"
  functions = "netlify/functions"
  publish = "out"
  environment = {
    NODE_VERSION = "14.19.3"
    }
  