[[headers]]
  for = "/*"
  [headers.values]
    # Enhanced security headers
    X-Frame-Options = "SAMEORIGIN"
    X-Content-Type-Options = "nosniff"
    X-DNS-Prefetch-Control = "on"
    Strict-Transport-Security = "max-age=63072000; includeSubDomains; preload"
    Referrer-Policy = "origin-when-cross-origin"
    Permissions-Policy = "camera=(), microphone=(), geolocation=(), interest-cohort=()"
    Content-Security-Policy = "default-src 'self'; script-src 'self' 'unsafe-inline' https://buttons.github.io https://www.googletagmanager.com https://www.google-analytics.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; img-src 'self' data: https:; font-src 'self' https://fonts.gstatic.com; connect-src 'self' https://www.google-analytics.com https://buttons.github.io; frame-src 'self' https://www.youtube.com"
    Access-Control-Allow-Origin = "*"

[build]
  command = "npm run build"
  functions = "netlify/functions"
  publish = "out"

[build.environment]
  NPM_FLAGS = "--production=false"
  NETLIFY_NEXT_PLUGIN_SKIP = "true"
  NODE_VERSION = "20.11.0"
  NPM_VERSION = "10.2.4"

# Used by JSON Schema definitions fetched directly from AsyncAPI website
[[redirects]]
  from = "/definitions"
  to = "https://github.com/asyncapi/spec-json-schemas/tree/master/schemas"
  status = 200

[[edge_functions]]
function = "serve-definitions"
path = "/definitions/*"

# Used by JSON Schema definitions fetched from schemastore.org
[[redirects]]
  from = "/schema-store"
  to = "https://github.com/asyncapi/spec-json-schemas/tree/master/schemas"
  status = 200

[[edge_functions]]
function = "serve-definitions"
path = "/schema-store/*"

[[plugins]]
  package = "@netlify/plugin-nextjs"