[[headers]]
  for = "/*"
  [headers.values]
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"
    Permissions-Policy = "camera=(), microphone=(), geolocation=()"
    Strict-Transport-Security = "max-age=63072000; includeSubDomains;"
    Content-Security-Policy-Report-Only = "default-src 'self'; script-src 'self' https: 'unsafe-inline'; style-src 'self' https: 'unsafe-inline'; img-src 'self' data: https:; font-src 'self' data: https:; connect-src 'self' https:; object-src 'none'; base-uri 'self'; form-action 'self'; frame-ancestors 'none'; report-uri /.netlify/functions/csp-report;"


[build]
  command = "npm run build"
  functions = "netlify/functions"
  publish = "out"

[build.environment]
  NPM_FLAGS = "--production=false"
  NETLIFY_NEXT_PLUGIN_SKIP = "true"
  NODE_VERSION = "20.11.0"
  NPM_VERSION = "10.2.4"

# Used by JSON Schema definitions fetched directly from AsyncAPI website
[[redirects]]
  from = "/definitions"
  to = "https://github.com/asyncapi/spec-json-schemas/tree/master/schemas"
  status = 200

[[edge_functions]]
function = "serve-definitions"
path = "/definitions/*"

# Used by JSON Schema definitions fetched from schemastore.org
[[redirects]]
  from = "/schema-store"
  to = "https://github.com/asyncapi/spec-json-schemas/tree/master/schemas"
  status = 200

[[edge_functions]]
function = "serve-definitions"
path = "/schema-store/*"

[[plugins]]
  package = "@netlify/plugin-nextjs"
