[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "ALLOW-FROM https://www.youtube.com/"

[build]
  command = "npm run build && npm run export"
  functions = "netlify/functions"
  publish = "out"

# Used by JSON Schema definitions fetched directly from AsyncAPI website
[[redirects]]
  from = "/definitions/*"
  to = "https://raw.githubusercontent.com/asyncapi/spec-json-schemas/master/schemas/:splat"
  status = 200

[[edge_functions]]
function = "serve-definitions"
path = "/definitions/*"

# Used by JSON Schema definitions fetched from schemastore.org
[[redirects]]
  from = "/schema-store/*"
  to = "https://raw.githubusercontent.com/asyncapi/spec-json-schemas/master/schemas/:splat"
  status = 200

[[edge_functions]]
function = "serve-definitions"
path = "/schema-store/*"

