.start-menu {
    margin-top: 40px;

    .start-menu__steps {
        display: flex;
        justify-content: space-between;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            height: 0;
            width: 100%;
            border-bottom: #ccc 1px solid;
            z-index: -1;
        }

        .start-menu__steps__step {
            width: 60px;
            height: 60px;
            line-height: 60px;
            border: #ccc 1px solid;
            border-radius: 100%;
            text-align: center;
            vertical-align: middle;
            background-color: white;
        }
    }

    .start-menu__steps-content {
        display: flex;
        justify-content: space-between;
        position: relative;

        .start-menu__steps-content__step {
            width: 33%;
            padding: 20px;
            border-right: #eee 1px solid;
            color: #444;
            font-size: 14px;
            text-align: center;

            &:last-child {
                border-right: none;
            }

            .start-menu__steps-content__step__question {
                display: inline-block;
                height: 5em;
            }
        }
    }
}