{{ define "main" }}
{{- $currentPageVersion := .Params.specVersion }}

<div class="container" style="margin-top:20px;">
    <div class="columns">
        <div class="column">
            Versions: |
            {{ range sort .Site.Pages ".Params.weight" "desc" }}
                {{ if in .Params.categories "specifications" }}
                    {{ if eq .Params.specVersion $currentPageVersion }}
                        <strong>{{ .Params.specVersion }}</strong> |
                    {{else}}
                        <a href="{{ .Permalink }}">{{ .Params.specVersion }}</a> |
                    {{ end }}
                {{end}}
            {{ end }}
        </div>
    </div>
</div>
{{ partial "docs/content.html" . }}
{{ end }}