{{ define "main" }}
<div class="container" style="padding:0 2rem;margin-top:30px;">
    <div class="columns">
        <div class="column is-3 is-hidden-mobile is-hidden-tablet-only">
            {{ partial "docs/sidebar.html" . }}
        </div>
        <div class="column is-9 is-centered-tablet-portrait">
            <h1 class="title section-title">{{ .Title }}</h1>
            <div class="docs-content">
                {{ range .Pages }}
                <a href="{{.URL}}">{{.Title}}</a>
                {{ .Render "summary"}}
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}