<div class="openapi-comparison has-text-centered">
    <h2 class="openapi-comparison__title">OpenAPI — AsyncAPI comparison</h2>

    <div class="openapi-comparison__content">
        <div class="openapi-comparison__block">
            <h3 class="openapi-comparison__block__title">OpenAPI 3.0</h3>
    
            <div class="openapi-comparison__block__content">
                <div class="openapi-comparison__block openapi-comparison__block--info">
                    Info
                </div>
                <div class="openapi-comparison__content">
                    <div class="openapi-comparison__block openapi-comparison__block--hosts">
                        Hosts
                    </div>
                    <div class="openapi-comparison__block openapi-comparison__block--security">
                        Security
                    </div>
                </div>
                <div class="openapi-comparison__block openapi-comparison__block--paths">
                    Paths

                    <div class="openapi-comparison__content">
                        <div class="openapi-comparison__block openapi-comparison__block--path-item">
                            Path Item

                            <div class="openapi-comparison__content">
                                <div class="openapi-comparison__block openapi-comparison__block--annotations">
                                    Summary and description
                                </div>
                                <div class="openapi-comparison__content">
                                    <div class="openapi-comparison__block openapi-comparison__block--operation">
                                        Operation (GET, PUT, POST, etc.)

                                        <div class="openapi-comparison__content">
                                            <div class="openapi-comparison__block openapi-comparison__block--reqres">
                                                Request
                                            </div>
                                            <div class="openapi-comparison__block openapi-comparison__block--reqres">
                                                Responses
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="openapi-comparison__content">
                    <div class="openapi-comparison__block openapi-comparison__block--tags">
                        Tags
                    </div>
                    <div class="openapi-comparison__block openapi-comparison__block--external-docs">
                        External Docs
                    </div>
                </div>
                <div class="openapi-comparison__block openapi-comparison__block--components">
                    Components

                    <div class="openapi-comparison__content">
                        <div class="openapi-comparison__block openapi-comparison__block--components">
                            Definitions
                        </div>
                        <div class="openapi-comparison__block openapi-comparison__block--components">
                            Responses
                        </div>
                        <div class="openapi-comparison__block openapi-comparison__block--components">
                            Parameters
                        </div>
                        <div class="openapi-comparison__block openapi-comparison__block--components">
                            Response Headers
                        </div>
                        <div class="openapi-comparison__block openapi-comparison__block--components">
                            Security Definitions
                        </div>
                        <div class="openapi-comparison__block openapi-comparison__block--components">
                            Callbacks
                        </div>
                        <div class="openapi-comparison__block openapi-comparison__block--components">
                            Links
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="openapi-comparison__block">
            <h3 class="openapi-comparison__block__title">AsyncAPI 2.0</h3>
    
            <div class="openapi-comparison__block__content">
                <div class="openapi-comparison__block openapi-comparison__block--info">
                    Info
                </div>
                <div class="openapi-comparison__content">
                    <div class="openapi-comparison__block openapi-comparison__block--hosts">
                        Servers (hosts + security)
                    </div>
                </div>
                <div class="openapi-comparison__block openapi-comparison__block--paths">
                    Channel
                
                    <div class="openapi-comparison__content">
                        <div class="openapi-comparison__block openapi-comparison__block--path-item">
                            Channel Item
                
                            <div class="openapi-comparison__content">
                                <div class="openapi-comparison__content">
                                    <div class="openapi-comparison__block openapi-comparison__block--operation">
                                        Operation (Publish and Subscribe)
                
                                        <div class="openapi-comparison__content">
                                            <div class="openapi-comparison__content">
                                                <div class="openapi-comparison__block openapi-comparison__block--annotations">
                                                    Summary, description, tags, etc.
                                                </div>
                                            </div>
                                            <div class="openapi-comparison__content">
                                                <div class="openapi-comparison__block openapi-comparison__block--reqres">
                                                    Message

                                                    <div class="openapi-comparison__block openapi-comparison__block--headers">
                                                        Headers
                                                    </div>
                                                    <div class="openapi-comparison__block openapi-comparison__block--payload">
                                                        Payload
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="openapi-comparison__content">
                    <div class="openapi-comparison__block openapi-comparison__block--id">
                        Id (application identifier)
                    </div>
                </div>
                <div class="openapi-comparison__content">
                    <div class="openapi-comparison__block openapi-comparison__block--tags">
                        Tags
                    </div>
                    <div class="openapi-comparison__block openapi-comparison__block--external-docs">
                        External Docs
                    </div>
                </div>
                <div class="openapi-comparison__block openapi-comparison__block--components">
                    Components
                
                    <div class="openapi-comparison__content">
                        <div class="openapi-comparison__block openapi-comparison__block--components">
                            Schemas
                        </div>
                        <div class="openapi-comparison__block openapi-comparison__block--components">
                            Messages
                        </div>
                        <div class="openapi-comparison__block openapi-comparison__block--components">
                            Security Schemes
                        </div>
                        <div class="openapi-comparison__block openapi-comparison__block--components">
                            Parameters
                        </div>
                        <div class="openapi-comparison__block openapi-comparison__block--components">
                            Correlation Ids
                        </div>
                        <div class="openapi-comparison__block openapi-comparison__block--components">
                            Traits
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
