{{ define "main" }}
<div class="container" style="padding:0 2rem;margin-top:30px;">
    <div class="row">
        <div class="col-12" style="margin-top: 20px; margin-bottom: 10px;">
            <a href="https://www.asyncapiconf.com" target="_blank">
                <img src="/img/asyncapi-conf-banner.jpg">
            </a>
        </div>
    </div>
    <div class="rows">
        <div class="col-12">
            {{ partial "docs/content.html" . }}
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
{{ end }}