<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="footer__widgets">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="widget widget-about-us">
            <!-- Logo -->
            <a href="index.html" class="logo-container flex-child">
              <img class="logo" src="/img/logo.png" alt="AsyncAPI logo">
            </a>
            <p class="mt-24 mb-32">Building the future of event-driven architectures.</p>
            <div class="socials">
              <a href="https://twitter.com/AsyncAPISpec" class="social social-twitter" aria-label="twitter"
                title="Twitter" target="_blank"><i class="ui-twitter"></i></a>
              <a href="https://www.linkedin.com/company/asyncapi" class="social social-linkedin" aria-label="linkedin"
                title="LinkedIn" target="_blank"><i class="ui-linkedin"></i></a>
            </div>
          </div>
        </div> <!-- end about us -->


        <div class="col-lg-2 offset-lg-6 col-md-6">
          <div class="widget widget_nav_menu">
            <h5 class="widget-title">Resources</h5>
            <ul>
              <li><a href="/about">About</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="https://github.com/asyncapi" target="_blank">Github</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div> <!-- end container -->

  <div class="footer__bottom top-divider">
    <div class="container text-center">
      <span class="copyright">
        Made with <code>:love:</code> by the AsyncAPI Initiative.
      </span>
    </div>
  </div> <!-- end footer bottom -->
</footer> <!-- end footer -->

<div id="back-to-top">
  <a href="#top"><i class="ui-arrow-up"></i></a>
</div>