<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="{{ .Site.Params.meta.description }}" />

<!-- Twitter Card data -->
<meta name="twitter:card" value="summary">

<!-- Open Graph data -->
<meta property="og:title" content="{{ .Page.Title }}{{ if not .IsHome }} | {{ .Site.Title }}{{ end }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ .Page.Permalink }}" />
<meta property="og:image" content="{{ "/images/social/card.png" | absURL }}" />
<meta property="og:description" content="{{ .Page.Summary }}" />