{{ define "main" }}
<div class="blog-container">
    <div class="blog-list is-centered-tablet-portrait">
        <div class="columns">
            <div class="column">
                {{ range first 1 (where .Pages "Params.featured" true).ByWeight }}
                    <a href="{{.URL}}" class="blog-list__article blog-list__article--featured" style="background-image: url({{ .Params.cover }});">
                        <span class="blog-list__article--featured__details">
                            <span class="blog-list__article--featured__details__title">{{.Title}}</span>
                            <span class="blog-list__article__authors">
                                {{ range $author := .Params.authors }}
                                <img src="{{ $author.photo }}" class="blog-list__article__authors__photo" title="{{ $author.name }}" alt="{{ $author.name }}" />
                                {{ end }}
                            </span>
                        </span>
                    </a>
                {{ end }}
            </div>
        </div>
        <div class="columns">
            {{ range first 2 (after 1 (where .Pages "Params.featured" true)).ByWeight }}
            <div class="column is-half">
                <a href="{{.URL}}" class="blog-list__article" style="background-image: url({{ .Params.cover }});">
                    <span class="blog-list__article__shadow"></span>
                    <span class="blog-list__article__details">
                        <span class="blog-list__article__details__title">{{.Title}}</span>
                        <span class="blog-list__article__authors">
                            {{ range $author := .Params.authors }}
                            <img src="{{ $author.photo }}" class="blog-list__article__authors__photo" title="{{ $author.name }}"
                                alt="{{ $author.name }}" />
                            {{ end }}
                        </span>
                    </span>
                </a>
            </div>
            {{ end }}
        </div>
    </div>

    <div class="blog-list is-centered-tablet-portrait">
        <hr>
        <h3 class="has-text-centered">Latest blog posts</h3>
        <hr>
    </div>

    <div class="blog-list is-centered-tablet-portrait">
        <div class="columns is-multiline">
            {{ range .Pages.ByPublishDate.Reverse }}
            <div class="column is-one-third">
                <a href="{{.URL}}" class="blog-list__article" style="background-image: url({{ .Params.cover }});">
                    <span class="blog-list__article__shadow"></span>
                    <span class="blog-list__article__details">
                        <span class="blog-list__article__details__title">{{.Title}}</span>
                        <span class="blog-list__article__authors">
                            {{ range $author := .Params.authors }}
                            <img src="{{ $author.photo }}" class="blog-list__article__authors__photo"
                                title="{{ $author.name }}" alt="{{ $author.name }}" />
                            {{ end }}
                        </span>
                    </span>
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</div>

{{ partial "footer.html" . }}
{{ end }}