@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);
@import url(https://cdn.jsdelivr.net/npm/@docsearch/css@3);

@import "swiper/css";
@import "swiper/css/a11y";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom fonts */
@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans-Bold.ttf') format('truetype');
  font-display: swap;
}

/* adjust swiper library */
.swiper-wrapper {
  align-items: stretch;
}

.swiper-slide {
  height: auto !important;
}

/* adjust DocsSearch input styles */
.DocSearch-Input {
  border-width: 0;
  background-color: transparent;
}

.DocSearch-Input:focus {
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
}

.DocSearch-Screen-Icon {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.DocSearch-Help > a {
  appearance: none;
  background: none;
  border: 0;
  border-radius: 1em;
  color: var(--docsearch-highlight-color);
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 700;
  padding: 0;
}

.DocSearch-Help > a:focus, .DocSearch-Help > a:hover {
  outline: none;
  text-decoration: underline;
}

.two-liner {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* adjust DocsSearch mobile styles */
@media (max-width: 750px) {
  .DocSearch-Container {
    position: fixed !important;
  }
}

@media (max-width: 767px){
  .orbits{
    display: none;
  }
}
.orbit-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  top: -200px;
}

.orbit {
  position: absolute;
  border-radius: 100%;
  border: solid 3px #f3f3f4;
  transition: 0.2s;
}

.orbit > div {
  cursor: pointer;
}

/* Accessibility: Skip link styles */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.sr-only.focus:not-sr-only {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}
