@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@import "swiper/swiper.min";
@import "swiper/modules/a11y/a11y.min";
@import "swiper/modules/navigation/navigation.min";

@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li>p {
  display: inline;
}

.atss {
  /* AddThis plugin */
  z-index: 10 !important;
}

.countdown-text-gradient {
  background: linear-gradient(230deg, #e74694, #4b79cf, #4bc5cf, #4b79cf, #e74694);
  background-size: 500% 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: GradientAnimation 50s ease infinite alternate;
  -moz-animation: GradientAnimation 50s ease infinite alternate;
  animation: GradientAnimation 50s ease infinite alternate;
}

@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%
  }

  100% {
    background-position: 200% 50%
  }
}

:target {
  scroll-margin-top: 120px;
}

@media (max-width: 1280px) {
  :target {
    scroll-margin-top: 155px;
  }
}

/* adjust swiper library */
.swiper-wrapper {
  align-items: stretch;
}

.swiper-slide {
  height: auto !important;
}