@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);
@import url(https://cdn.jsdelivr.net/npm/@docsearch/css@3);

@import "swiper/swiper.min";
@import "swiper/modules/a11y/a11y.min";
@import "swiper/modules/navigation/navigation.min";
@import "swiper/modules/pagination/pagination.min";
@import "swiper/modules/scrollbar/scrollbar.min";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li>p {
  display: inline;
}

.atss {
  /* AddThis plugin */
  z-index: 10 !important;
}

abbr[title] {
  text-decoration: none;
}

.countdown-text-gradient {
  background: linear-gradient(230deg, #e74694, #4b79cf, #4bc5cf, #4b79cf, #e74694);
  background-size: 500% 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: GradientAnimation 50s ease infinite alternate;
  -moz-animation: GradientAnimation 50s ease infinite alternate;
  animation: GradientAnimation 50s ease infinite alternate;
}

@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%
  }

  100% {
    background-position: 200% 50%
  }
}

:target {
  scroll-margin-top: 120px;
}

@media (max-width: 1280px) {
  :target {
    scroll-margin-top: 155px;
  }
}

/* adjust swiper library */
.swiper-wrapper {
  align-items: stretch;
}

.swiper-slide {
  height: auto !important;
}

/* adjust DocsSearch input styles */
.DocSearch-Input {
  border-width: 0;
  background-color: transparent;
}

.DocSearch-Input:focus {
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
}

.DocSearch-Screen-Icon {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.DocSearch-Help > a {
  appearance: none;
  background: none;
  border: 0;
  border-radius: 1em;
  color: var(--docsearch-highlight-color);
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 700;
  padding: 0;
}

.DocSearch-Help > a:focus, .DocSearch-Help > a:hover {
  outline: none;
  text-decoration: underline;
}

/* adjust DocsSearch mobile styles */
@media (max-width: 750px) {
  .DocSearch-Container {
    position: fixed !important;
  }
}
